<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/airports/new"	<%- title === 'Add Airport' ? 'class="active"' : '' %>>Add Airport</a>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>Flights List</a>
    <a href='/flights/new' <%- title === 'Add Flight' ? 'class="active"' : '' %>>Add Flight</a>
  </nav>
  <main>
    <h1><%= title %></h1>