<%- include('../partials/header') %>

<section id="show-page">
  <div>Title:  <%= flight.title %> </div>
  <div>Airline: <%= flight.airline %></div>
  <div>Flight #: <%= flight.flightNo %></div>
  <div>Airport: <%= flight.airport %></div>
  <div>Destination: <%= flight.destination %></div>
  <div>Tickets:</div>
  <ul>
    <%- flight.tickets.map(t => 
      `<li>${t.seat}  -  $<small>${t.price}</small></li>`
    ).join('') %>
  </ul>

</section>

<form id="add-ticket-to-flight" action="/flights/<%= flight._id %>/tickets" method="POST">
<select name="ticketId">
  <% tickets.forEach(ticket => { %>
    <option value="<%= ticket._id %>"><%= ticket.seat %> - $ <%= ticket.price %></option>
    <% }) %>
</select>
<button type="submit">Add Ticket</button>
</form>


<br><br><h2>Add Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/details">
  <label>Destination:</label>
  <textarea name="target"></textarea>
  <label>Target:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
    <option value="PHX">PHX</option>
  </select>
  <label>Arrival</label>
  <input type="datetime-local" name="arrival">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Arrival</th>
          <th>Target</th>
          <th>Airport</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.arrival %></td>
            <td><%= d.target %></td>
            <td><%= d.airport %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

<%- include('../partials/footer') %>
