<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= flight.title %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight #: </div>
  <div><%= flight.flightNo %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
</section>

<%- include('../partials/footer') %>
